.container {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}
.category {
	width: 100%;
	padding: 10px 25px;
	border-radius: 10px;
	text-align: center;
	text-transform: capitalize;
	font-size: 14px;
}
.cat_fashion {
	background-color: #57c4ff31;
}

.cat_style {
	background-color: #da85c731;
}
.cat_food {
	background-color: #7fb88133;
}
.cat_travel {
	background-color: #ff795736;
}
.cat_culture {
	background-color: #ffb04f45;
}
.cat_planing {
	background-color: #5e4fff31;
}
